* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgb(177, 66, 54);
    font-family: 'Poppins', sans-serif;
}

.logo {
    color: rgb(233, 232, 232);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 21px;

}

.nav-links {
    display: flex;
    /* background-color: red; */
    justify-content: space-around;
    width: 34%;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color:rgb(233, 232, 232);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 16px;
}